@using CySoft.Model.Tb;
@using CySoft.Model.Ts
@using CySoft.Utility;



@{
    Tb_Kh_Query item_edit = ViewData["item_edit"] as Tb_Kh_Query;
    item_edit = item_edit ?? new Tb_Kh_Query();
    var selectListState = ViewData["selectListState"] as List<Ts_Flag>;
    selectListState = selectListState ?? new List<Ts_Flag>();
    var selectListKHFLJsonStr = ViewData["selectListKHFLJsonStr"] == null ? "" : ViewData["selectListKHFLJsonStr"].ToString();
    var digit = ViewData["DigitHashtable"] as System.Collections.Hashtable;//小数点控制



}

<head>
    <link rel="stylesheet" href="~/static/css/common/modify.css" />


</head>
<style>
    .dropdown-menu {
        max-height: 510px;
    }
</style>

<div class=" fade in" id="dialog-kh" role="dialog">
    <div class="modal-wi">
        <div class="">
            <form class="form-horizontal validate f0 comform common-no" method="post" id="">


                <div class="modal-body tab-content ">


                    <div class="fixed-input-group">
                        <h2 class="form_title"><span>基本信息</span></h2>
                        <div class="form_content">
                            <div class="m-b">
                                <label class="l-h-30 lab-w text-right">
                                    <em class="tag">* </em><span>客户分类：</span>
                                </label>

                                <label class="m-l-xs1" id="khfl_name"></label>


                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>客户编码：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.bm)
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <em class="tag">* </em><span>客户名称：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.mc)
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <em class="tag">* </em><span>客户状态：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">

                                            @foreach (var item in selectListState.OrderBy(d => d.listsort))
                                            {

                                                var stateChecked = item_edit.flag_state == item.listdata ? "checked=\"checked\"" : "";
                                                <label class="i-checks showIcon">
                                                    <input name="flag_state" value="@item.listdata" @stateChecked type="radio" disabled="disabled"><i></i>@item.listdisplay
                                                </label>

                                            }
                                        </label>
                                    </div>
                                </div>


                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>联系人：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.lxr)
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>联系电话：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.tel)
                                        </label>
                                    </div>
                                </div>



                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>公司电话：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.companytel)
                                        </label>
                                    </div>
                                </div>

                                @if (!string.IsNullOrEmpty(item_edit.mc_shop))
                                {
                                    <div>
                                        <div class="m-b">
                                            <label class="l-h-30 text-right lab-w">
                                                <span>对应门店：</span>
                                            </label>
                                            <label class="sub-label w-340 m-l-xs font14">
                                                @string.Format("{0}", item_edit == null ? string.Empty : item_edit.mc_shop)
                                            </label>
                                        </div>
                                    </div>
                                }

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>信用额度：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.je_xyed.Digit((int)digit["dj_digit"]).ToString())
                                        </label>
                                    </div>
                                </div>


                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>临时额度：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.je_xyed_temp.Digit((int)digit["dj_digit"]).ToString())
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>临额有效期：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs">

                                            <div class="btn-group">

                                                <input type="hidden" name="rq_b" id="rq_b" value="@string.Format("{0}", item_edit.rq_xyed_temp_b == DateTime.Parse("1900-01-01") ? "" : ((DateTime)item_edit.rq_xyed_temp_b).ToString("yyyy-MM-dd"))">

                                                <button type="button" disabled="disabled" class="btn btn-default btn-sm m-l-none text-left " onclick="app.kh.wdatepicker_kh_detail_list(this);" title="开始时间" data-title="开始时间" data-field="rq_b" data-type="start" style="width:80px;">@string.Format("{0}", item_edit.rq_xyed_temp_b == DateTime.Parse("1900-01-01") ? "" : ((DateTime)item_edit.rq_xyed_temp_b).ToString("yyyy-MM-dd"))</button>

                                                <button type="button" disabled="disabled" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-calendar" style="min-width: 7%;"></i></button>

                                                <button type="button" disabled="disabled" class="btn btn-default btn-sm text-left" onclick="app.kh.wdatepicker_kh_detail_list(this);" data-field="rq_b" data-type="end" data-position="" style="width:80px;" title="结束时间">@string.Format("{0}", item_edit.rq_xyed_temp_e == DateTime.Parse("1900-01-01") ? "" : ((DateTime)item_edit.rq_xyed_temp_e).ToString("yyyy-MM-dd"))</button>

                                                <input type="hidden" name="rq_b_end" id="rq_b_end" value="@string.Format("{0}", item_edit.rq_xyed_temp_e == DateTime.Parse("1900-01-01") ? "" : ((DateTime)item_edit.rq_xyed_temp_e).ToString("yyyy-MM-dd"))">
                                            </div>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="fixed-input-group">
                            <h2 class="form_title"><span>更多</span></h2>
                            <div class="form_content">

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>客户邮箱：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.email)
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>客户邮编：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.zipcode)
                                        </label>
                                    </div>
                                </div>


                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>客户地址：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.address)
                                        </label>
                                    </div>
                                </div>


                                <div>
                                    <div class="m-b">
                                        <label class="l-h-30 text-right lab-w">
                                            <span>备注：</span>
                                        </label>
                                        <label class="sub-label w-340 m-l-xs font14">
                                            @string.Format("{0}", item_edit == null ? string.Empty : item_edit.bz)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <input type="hidden" id="id" name="id" value="@string.Format("{0}", item_edit == null ? string.Empty : item_edit.id)" />
                        <input type="hidden" id="hid_option" value="">

                    </div>
                    <div class="panel-footer text-left lter need-footer-fixed need-footer-fixed-box">
                        <button type="button" id="submit-button" class="btn btn-info w-138 w-xs" onclick="$.fn.menuTab.load({ url: '/kh/edit?id='+'@item_edit.id', 'title': '客户资料', id: 'kh/edit', nocache: '1' });">
                            编辑
                        </button>
                        <button type="button" class="btn btn-default w-xs" data-dismiss="modal" onclick="$.fn.menuTab.deleteMenu('kh/detail');$.fn.menuTab.load({ url: '/kh/list', 'title': '客户资料', id: 'kh/list', nocache: '1' }); ">
                            返回
                        </button>

                    </div>
            </form>
        </div>
    </div>
</div>


<script>
    $.DHB._ = function () {
        jQuery(function ($) {
            $(_ + '#submit-button').removeAttr('disabled');
        });

        $.DHB.checkForm(function () {
            //分类Id
            var Tnum = $.trim($(_ + '#hid_option').val()) == 'edit' ? '1' : '0';
            var btn = $(_ + '#submit-button').button('loading');

            $.post(
                $.DHB.U('kh/' + (Tnum > 0 ? 'Edit' : 'Add')),
                $(_ + ".validate").serialize(),
                function (data) {
                    if (data.status == "success") {
                        $.DHB.message({ 'content': data.message, 'time': 3000, 'type': 's' });
                        $(_ + '#submit-button').text("提交成功！");
                        $.DHB.url('kh/list', 'cache');
                    }
                    else {
                        $.DHB.message({ 'content': data.message, 'time': 3000, 'type': 'e' });
                        btn.button('reset');
                    }
                }, 'json'
            );

            return false;
        });
    };

    app.kh = app.kh || {};


    //编辑客户
    app.kh.edit_c = function (id) {
        $.DHB.dialog({ 'title': '编辑客户', 'url': $.DHB.U('kh/edit?id=' + id), 'id': 'dialog-kh' });
    };


    //设置客户分类中文
    $(function () {
        setTimeout(function () {
            var selectListKHFLJsonStr = '@Html.Raw(selectListKHFLJsonStr)';
            khflTree = JSON.parse(selectListKHFLJsonStr);
            var id_khfl = '@item_edit.id_khfl';

            $(khflTree).each(function (i, obj) {
                if (obj.id == id_khfl) {
                    $(_ + "#khfl_name").text(obj.name);
                }
            });
        }, 200);
    });


    app.kh.checkbarcode = function (obj) {

        //如果是上下左右Tab按键 回车 不处理
        var event = arguments.callee.caller.arguments[0] || window.event;//消除浏览器差异
        if (typeof (event) != 'undefined') {
            var keyCode = event.keyCode;

            if (keyCode == 37 || keyCode == 38 || keyCode == 39 || keyCode == 40 || keyCode == 9 || keyCode == 13 || keyCode == 8) {
                return false;
            }
        }

        var value = new String($(obj).val().replace(/\s+/g, ""));
        $(obj).val(value);
        if (isNaN(value) || value.indexOf(".") != -1) {
            $.DHB.message({ 'content': '仅允许输入数字', 'time': 4000, 'type': 'i' });
            debugger;
            var old_data = $(obj).attr('old-data');
            if (typeof (old_data) == 'undefined') { old_data = ''; }
            value = old_data;
            $(obj).val(value);
        }
        value = value + "";
        $(obj).attr('old-data', value);
    }


    //时间下拉
    app.kh.wdatepicker_kh_detail_list = function (el) {
        var booStart = $(el).data('type') == 'start';
        var option = {};
        option['el'] = $(el).data('field') + (!booStart ? '_end' : '');
        option['onpicked'] = function () {
            $(el)
                .text($dp.cal.getP('y') +
                    '-' +
                    $dp.cal.getP('M') +
                    '-' +
                    $dp.cal.getP('d'));
            if (booStart) {
                setTimeout(function () {
                    $(el)
                        .parent()
                        .find('[data-type="end"]')
                        .data('position', '1')
                        .click();
                },
                    5000);
            }
        };
        if (booStart) {
            option['maxDate'] =
                '#F{ $dp.$D(\'' + $(el).data('field') + '_end\') }';
        } else {
            option['minDate'] = '#F{ $dp.$D(\'' + $(el).data('field') + '\') }';
            if ($(el).data('position') == '1') {
            }
        }
        option['oncleared'] = function () {
            $(el).html(booStart ? $(el).data('title') : '截至日期');
        };
        WdatePicker(option);
    }


</script>