@using CySoft.Model;
@using CySoft.Model.Tb;
@using System.Text;
@{
    string category_id = ViewData["category_id"].ToString();
    string option = ViewData["option"].ToString();
    string goods = ViewData["goods"].ToString();
    List<Tb_Spfl_Tree> list_spfl = ViewData["list_spfl"] as List<Tb_Spfl_Tree>;
    Tb_Spfl item_edit = ViewData["item_edit"] as Tb_Spfl;
}
<style>
    .dropdown-menu { max-height: 510px; }
</style>

<div class="modal fade in" id="dialog-category" role="dialog">
    <div class="modal-dialog" style="width:520px;">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">@Html.Raw(option == "edit" ? "编辑分类" : "新增分类") </h4>
            </div>
            <form class="form-horizontal validate f0" method="post" id="">
                <div class="modal-body tab-content ">
                    <div>
                        <div class="m-b">
                            <label class="l-h-30 text-right" style="width: 70px">
                                <span>上级分类</span>
                            </label>

                            <label class="sub-label w-340 m-l-xs">
                                <select class="form-control input-sm select2_ {required:true,check_parent_basecategory:true}" name="parent_id" id="parent_id" @string.Format("{0}", item_edit == null ? string.Empty : "disabled")>
                                    <option value="0" @string.Format("{0}", (string.IsNullOrWhiteSpace(category_id) || category_id.Equals("0", StringComparison.OrdinalIgnoreCase) || item_edit != null) ? "selected" : string.Empty)>- 请选择上级分类（不选则为顶级分类） -</option>
                                    <!-- 分类树 -->
                                    @helper NodeHelper(string category_id, Tb_Spfl item_edit, int index, bool parent_is_last, List<Tb_Spfl_Tree> _list_spfl)
                                    {
    if (_list_spfl.Count > 0)
    {
        index = 0;
        foreach (Tb_Spfl_Tree _spfl in _list_spfl)
        {
            index++;
            int count_level = _spfl.path.Count(c => c.Equals('/'));
            StringBuilder str_current_symbol = new StringBuilder();
            if (count_level > 2)        //根节点count_level == 2
            {
                //每级4空格
                for (int i = 0; i < count_level - 3; i++)
                {
                    if (_spfl.children.Count >= 0)
                    {
                        str_current_symbol.Append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                        //str_current_symbol.Append("│");
                    }
                }

                //if (parent_is_last)
                //{
                //    str_current_symbol.Remove(str_current_symbol.Length - 1, 1);
                //}
                if (index == _list_spfl.Count)
                {
                    parent_is_last = true;
                    str_current_symbol.Append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    //str_current_symbol.Append("└ ");
                }
                else
                {
                    str_current_symbol.Append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    //str_current_symbol.Append("├ ");
                }
            }

            if (item_edit != null && !item_edit.id_father.Equals("0", StringComparison.OrdinalIgnoreCase))
            {
                //编辑时选中父ID
                <option value='@_spfl.id' @string.Format("{0}", (item_edit.id_father.Equals(_spfl.id, StringComparison.OrdinalIgnoreCase)) ? "selected" : string.Empty)>@Html.Raw(str_current_symbol)@_spfl.text</option>
        }
        else
        {
            //添加子节点时选中当前ID
            <option value='@_spfl.id' @string.Format("{0}", (!string.IsNullOrWhiteSpace(category_id) && category_id.Equals(_spfl.id, StringComparison.OrdinalIgnoreCase)) ? "selected" : string.Empty)>@Html.Raw(str_current_symbol)@_spfl.text</option>
        }

        if (_spfl.children.Count > 0)
        {
                @NodeHelper(category_id, item_edit, index, parent_is_last, _spfl.children)
        }
    }
}
}
                                    @NodeHelper(category_id, item_edit, 0, false, list_spfl)
                                    <!-- 分类树 -->
                                </select>
                            </label>
                        </div>
                        <div class="m-b">
                            <label class="l-h-30 text-right" style="width: 70px">
                                <em class="tag">* </em><span>分类名称</span>
                            </label>
                            <label class="sub-label w-340 m-l-xs">
                                <input class="form-control {required:true,maxlength:30,check_categoryname_spfl:true}" placeholder="请输入分类名称" type="text" name="mc" value="@string.Format("{0}", item_edit == null ? string.Empty : item_edit.mc)" id="txt_mc">
                            </label>
                        </div>
                        <div class="m-b-none">
                            <label class="l-h-30 text-right" style="width: 70px">
                               <span>分类编码</span>
                            </label>
                            <label class="sub-label w-340 m-l-xs m-b-none">
                                <input class="form-control {check_common_num:true,maxlength:30,stringCheckTwo:true}" placeholder="请输入分类编码" type="text" name="bm" value="@string.Format("{0}", item_edit == null ? string.Empty : item_edit.bm)" id="txt_bm">
                            </label>
                            @*<label class="v-middle l-h-30 m-b-none m-l-sm hide">
                                    <label class="i-checks m-b-none m-t-none">
                                        <input type="checkbox" value="T" name="is_default"><i></i>
                                    </label>设为默认
                                </label>*@
                        </div>
                    </div>
                    <input type="hidden" name="order_num" id="order_num" value="">
                    <input type="hidden" name="goods" id="goods" value="@goods">
                    <input type="hidden" id="hid_option" value="@option">
                    <input type="hidden" id="category_id" name="category_id" value="@category_id" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit-button" data-loading-text="提交中..." class="btn btn-info w-xs">确定</button>
                    <button type="button" class="btn btn-default w-xs" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $.DHB._ = function () {
        jQuery(function ($) {
            $(_ + '#submit-button').removeAttr('disabled');
        });

        $.DHB.checkForm(function () {
            //分类Id
            var Tnum = $.trim($(_ + '#hid_option').val()) == 'edit' ? '1' : '0';
            var btn = $(_ + '#submit-button').button('loading');

            $.post(
                $.DHB.U('spfl/' + (Tnum > 0 ? 'Edit' : 'Add')),
                $(_ + ".validate").serialize(),
                function (ret) {
                    if (ret.status == "success") {
                        $.DHB.message({ 'content': ret.message, 'time': 1000, 'type': 's' });
                        $(_ + '#submit-button').text("提交成功！");  
                        @{
                            StringBuilder sb = new StringBuilder();
                            if (goods.Equals("1",StringComparison.Ordinal))
                            {
                                sb.AppendLine("                        spflTree.push({id:ret.spfl.id, pid:ret.spfl.id_father, name:ret.spfl.mc, is_default:'F'});");
                                sb.AppendLine("                        treeData.value = ret.spfl.id;");
                                sb.AppendLine("                        $.DHB.tree(treeData);");
                                sb.AppendLine("                        $.DHB.dialog({id:'dialog-category', action:'destroy'});");
                                sb.AppendLine("                        $.DHB.center('spfl/list');");
                            }
                            else
                            {
                                sb.AppendLine("                        $.DHB.url('spfl/list', 'cache');");
                            }
                            @Html.Raw(sb);
                         }
                    }
                    else {
                        $.DHB.message({ 'content': ret.message, 'time': 0, 'type': 'e' });
                        btn.button('reset');
                    }
                }, 'json'
            );

            return false;
        });
    };

    app.spfl = app.spfl || {};

    jQuery.validator.addMethod("check_categorynum_spfl",
        function (value, element) {
            if (!$(_ + '#category_num').val()) {
                return true;
            }
            else {
                if ($(_ + '#category_id').val()) {
                    strCheckUrl = $.DHB.U('spfl/saveEdit?ajax=checkCategorynum&category_id=' + $(_ + '#category_id').val() + '&category_num=' + encodeURIComponent($(_ + '#category_num').val()));
                } else {
                    strCheckUrl = $.DHB.U('spfl/saveAdd?ajax=checkCategorynum&category_num=' + encodeURIComponent($(_ + '#category_num').val()));
                }
                var xhr = $.ajax({ url: strCheckUrl, async: false, cache: false, dataType: 'html' });
                return $.trim(xhr.responseText) == 'true' ? true : false;
            }
        }, "商品分类编号不能够重复！"
    );

    jQuery.validator.addMethod("check_categoryname_spfl",
            function (value, element) {
                if (!$(_ + '#category_name').val()) {
                    return true;
                } else {
                    if ($(_ + '#category_id').val()) {
                        strCheckUrl = $.DHB.U('spfl/saveEdit?ajax=checkCategoryname&parent_id=' + $(_ + '#parent_id').val() + '&category_id=' + $(_ + '#category_id').val() + '&category_name=' + encodeURIComponent($(_ + '#category_name').val()));
                    } else {
                        strCheckUrl = $.DHB.U('spfl/saveAdd?ajax=checkCategoryname&parent_id=' + $(_ + '#parent_id').val() + '&category_name=' + encodeURIComponent($(_ + '#category_name').val()));
                    }
                    var xhr = $.ajax({ url: strCheckUrl, async: false, cache: false, dataType: 'html' });
                    return $.trim(xhr.responseText) == 'true' ? true : false;
                }
            }, "商品分类名称不能重复！"
        );

    jQuery.validator.addMethod("check_parent_spfl",
        function (value, element) {
            if (!$(_ + '#category_id').val()) {
                strCheckUrl = $.DHB.U('spfl/saveAdd?ajax=checkCategoryparent&category_id=' + $(_ + '#category_id').val() + '&parent_id=' + $(_ + '#parent_id').val());
                var xhr = $.ajax({ url: strCheckUrl, async: false, cache: false, dataType: 'html' });
                return $.trim(xhr.responseText) == 'true' ? true : false;
            } else {
                strCheckUrl = $.DHB.U('spfl/saveEdit?ajax=checkCategoryparent&category_id=' + $(_ + '#category_id').val() + '&parent_id=' + $(_ + '#parent_id').val());
                var xhr = $.ajax({ url: strCheckUrl, async: false, cache: false, dataType: 'html' });
                return $.trim(xhr.responseText) == 'true' ? true : false;
            }
        }, "商品父级分类不能为自己或者自己的子类，而且商品分类最大支持5级！"
    );
</script>