@using CySoft.Model.Tb;
@{
    Layout = null;
    List<Tb_Spfl_Tree> list_spfl = ViewData["list_spfl"] as List<Tb_Spfl_Tree>;
    var actionlist = ViewData["actionlist"] as List<string>;
    actionlist = actionlist ?? new List<string>();
    var isAdd = actionlist.Any(l => l.ToLower() == "add");
    var isDel = actionlist.Any(l => l.ToLower() == "delete");
    var isEdit = actionlist.Any(l => l.ToLower() == "edit");
    var isImport = actionlist.Any(l => l.ToLower() == "importin");
}
<script type="text/javascript">
    $(function () {
        $('div[contentID="spfl/list"]').attr({ controller: 'spfl', action: 'list' });
        app.c.public_data['spfl/list'] = app.c.public_data['spfl/list'] || {};
        app.c.public_data['spfl/list']['once'] = false;
        app.spfl = app.spfl || {};
    });
</script>
<input type="hidden" pagesize value="" />
<input type="hidden" page value="" />

<div class="contentbox-header">
    <a active="active" class="sub-tab" onclick="$.DHB.refresh();">
        商品分类
        <div style="width: 14px;display: inline-block;">
            <label class="copy d-i-b l-h-30 m-l-none 1" id="copy" style="position: relative">
                <span class="icon-question tool" style="position: relative;left:0px;"></span>
                <div class="popover fade bottom in tool-box" style="left: 85px;width: auto;">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        @*<p>1、设置商品分类的类目内容</p>
                            <p>3、您也通过商品分类来管理商品，统计不同商品分类下的销售情况、所以请合理设置商品分类的类目内容</p>
                            <p>
                                比如：（一级）：饮品 小食   （饮品的二级）：啤酒 饮料 牛奶
                            </p>*@
                    </div>
                </div>
            </label>
        </div>
    </a>
    <span style="left: 15px;"></span>
</div>
<script type="text/javascript">
    app.c.public_data['spfl/list'] = app.c.public_data['spfl/list'] || {};
    app.c.public_data['spfl/list']['threemenu'] = false;
    $.DHB._threeMenu = function () {
        if (app.c.public_data['spfl/list']['threemenu'] === false) {
            app.c.public_data['spfl/list']['threemenu'] = true;

            $(document).ready(function () {
                if ($(_ + 'div.contentbox-header a[active="active"]').length > 0) {
                    var currEle = $(_ + 'div.contentbox-header a[active="active"]');
                    var p = currEle.position();
                    var currLeft = p.left + currEle.width() / 2 - 16;
                    $(_ + 'div.contentbox-header > span').animate({
                        'left': currLeft
                    }, 450);
                    $(_ + 'div.contentbox-header a[active="active"]').css("color", "#58666e")
                }
            });
        }
    }
</script>

<div class="col">
    <div class="panel panel-default m-b-none">
        <div class="main-content">
            <!-- 商品分类 -->
            <div class="m-b-md">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="nestable-menu" style="padding: 0; margin: 12px 0 0 15px;">
                            @if (isAdd)
                            {
                                <button id="CButton" class="btn m-b-xs btn-info m-b-none btn-sm w-xs" style="margin-left: 0;" onclick="app.spfl.add(this, '');">新增分类</button>
                            }
                            @if (isImport)
                            {
                                <button id="CButton" class="btn m-b-xs btn-info m-b-none btn-sm w-xs" style="margin-left: 0;" onclick="$.fn.menuTab.load({ url: '/spfl/ImportIn', 'title': '导入分类', id: 'spfl/list', nocache: '0' }); ">导入分类</button>
                            }
                            <button id="UButton" style="display: none;">＋操作分类</button>
                            <button class="btn m-b-xs btn-default m-b-none btn-sm w-xs" type="button" data-action="expand-all"><i class="fa fa-angle-double-down"></i> 展开/收起</button>
                        </div>
                        @* 树排序信息 *@
                        <input type="hidden" name="nestable-result" id="nestable-result" value="" />

                        <div class="col-sm-12 m-t-xs">
                            <!-- 分类树 -->
                            <div class="dd" style="max-width:95%;">
                                @helper NodeHelper(List<Tb_Spfl_Tree> _list_spfl,bool isAdd,bool isEdit,bool idDelete)
                                {
if (_list_spfl != null && _list_spfl.Count > 0)
{
        <ol class="dd-list">
            @foreach (Tb_Spfl_Tree _spfl in _list_spfl)
            {
                <li class="dd-item" data-id="@_spfl.id">
                    <div class="dd-handle" onmouseenter="$.DHB.func.nestableHover(this);" onmouseleave="$.DHB.func.nestableHover(this,'leave');">
                        @_spfl.text&nbsp;<span style="color:#98a6ad;">（编码：@_spfl.bm）</span>
                        @*<span class="label label-success input-sm label-lg">默认</span>*@
                        <span class="pull-right">
                            @if (isAdd)
                            {
                                <a onclick="app.spfl.add(this, '@_spfl.id' );">增加子类</a>
                            }
                            @if (isEdit)
                            {
                                <span class="vertical-line"></span> <a onclick="app.spfl.edit(this, '@_spfl.id');">编辑</a> <span class="vertical-line"></span>
                            }
                            @if (idDelete)
                            {
                                <a onclick="app.spfl.del(this, '@_spfl.id');">删除</a>
                            }
                        </span>
                    </div>

                    <!-- 子分类 -->
                    @NodeHelper(_spfl.children, isAdd, isEdit, idDelete)
                </li>
            }
        </ol>
}
}
                                @NodeHelper(list_spfl,isAdd,isEdit,isDel)
                            </div>
                            @* 下面加入源代码 *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer lter">
            <button class="btn w-xs btn-info m-l-none" autocomplete="off" data-loading-text="正在提交..." id="nestable-submit-button" disabled="disabled" style="background:#4f9de0;border-color: #4f9de0;">
                确定
            </button>
            <button class="btn w-xs btn-default" autocomplete="off" onclick="$.DHB.refresh();">
                取消
            </button>
        </footer>
    </div>
</div>

<script type="text/javascript">
    var catenestable = null;
    app.spfl = app.spfl || {};

    // 命名规则 app.{controller}.{action}_ready
    app.spfl.list_ready = function () {
        $.DHB.loadJs([{ id: 'nestable', url: '/static/js/jquery/nestable/jquery.nestable.js' }], function () {
            //更新排序
            catenestable = $.DHB.func.nestable({ 'save_url': 'spfl/updatetree', save_on: true });

            //设置默认节点展开
            setTimeout(function () {
                //var curCat = $(_ + ".dd li[data-id='0ca2be3d-dd8a-4c24-9d96-4bf1d71ea2d4']");
                //catenestable.nestable('expandAll', curCat.parents('li.dd-item'));
                //curCat.find('.dd-handle').css('background', '#fff6ed');
            }, 100);
        });
    }

    //编辑分类
    app.spfl.edit = function (obj, id) {
        $(obj).trigger('blur');
        $.DHB.dialog({ 'title': '编辑分类', 'url': $.DHB.U('spfl/edit?id=' + id), 'id': 'dialog-category' });
    };

    //新增分类
    app.spfl.add = function (obj, id) {
        $(obj).trigger('blur');
        $.DHB.dialog({ 'title': '新增分类', 'url': $.DHB.U('spfl/add?parent_id=' + id), 'id': 'dialog-category' });
    };

    //删除分类
    app.spfl.del = function (obj, id) {
        $(obj).trigger('blur');
        $.messager.confirm("提示", "确定删除吗?", function () {

            //$.post($.DHB.U('spfl/delete'),
            //    {
            //        id: id,
            //        id_cyuser: $.trim($('#hid_id_cyuser').val())
            //    },
            //    function (data) {
            //        if (data.status == "success") {
            //            $.DHB.message({ 'content': data.message, 'time': 1000, 'type': 's' });

            //            $(_ + ".dd .dd-item[data-id='" + id + "']").remove();
            //        }
            //        else {
            //            $.DHB.message({ 'content': data.message, 'time': 0, 'type': 'e' });
            //        }
            //    }, 'json');
            app.httpAjax.post({
                data: {
                    id: id,
                    id_cyuser: $.trim($('#hid_id_cyuser').val())
                },
                headers: {},
                url: $.DHB.U('spfl/delete'),
                type: "POST",
                dataType: 'json',
                beforeSend: null,
                success: function (data) {
                    if (data.status == "success") {
                        $.DHB.message({ 'content': data.message, 'time': 1000, 'type': 's' });

                        $(_ + ".dd .dd-item[data-id='" + id + "']").remove();
                    }
                    else {
                        $.DHB.message({ 'content': data.message, 'time': 0, 'type': 'e' });
                    }
                },
                error: null,
                complete: null
            });
        });
    };

</script>