@using CySoft.Model.Td;
@using CySoft.Utility;
@{
    var pageList = ViewData["List"] as PageList<Td_Ps_Fpck_1_Query>;
    var actionlist = ViewData["actionlist"] as List<string>;
    actionlist = actionlist ?? new List<string>();
    var IsPermissionShow = ViewData["_IsPermissionShow_"] as Func<string, List<string>, bool>;
    string sort = ViewData["sort"].ToString();
    var digit = ViewData["DigitHashtable"] as System.Collections.Hashtable;//小数点控制
    digit = digit ?? new System.Collections.Hashtable();
}

<table class="table m-b-none row1 selectAll-table status-box one-line" onmouseover="$.DHB.func.listOperate(this);" style="table-layout: fixed">
    <thead>
        <tr>
            <th width="55" class="table-p-l-sm table-p-r-xsm-fixed">序号</th>
            <th width="160" class="text-center">开单日期</th>
            <th>单据编号</th>
            <th>原单号</th>
            <th>退货门店</th>
            <th>经办人</th>
            <th>总金额</th>
            <th>审核状态</th>
            <th width="200" class="text-center">操作</th>
        </tr>
    </thead>
    <tbody id="dwlist-main-tbody">
        @{
            if (pageList == null || pageList.Count == 0)
            {
                <tr>
                    <td colspan="9" align="center">
                        <img src="~/static/images/nodata.png" class="table_nodata">
                    </td>
                </tr>
            }
            else
            {
                var list = pageList.Items;
                if (list != null && list.Any())
                {
                    int index = pageList.PageIndex * pageList.PageSize + 1;
                    foreach (var item in list)
                    {
                        <tr id="row-jh-id-@item.id" class="tr-status-finished">
                            <td class="text-center">
                                @(index++)
                            </td>
                            <td class="text-center">@string.Format("{0:yyyy-MM-dd}", item.rq)</td>
                            <td>@item.dh</td>
                            <td>@item.dh_origin</td>
                            <td>@item.shop_name</td>
                            <td>@item.jbr_name</td>
                            <td>@item.je_mxtotal.Digit((int)digit["dj_digit"])</td>
                            <td>@(item.flag_sh == 0 ? "未审核" : "已审核")</td>
                            <td class="list-operate">
                                <div class="look-out1">
                                    <div class="second-height-operate width200">
                                        @if (IsPermissionShow("list", actionlist))
                                        {
                                            <a class="bg-state bg-state-info  fa fa-eye" href="javascript:;" onclick="app.psfpck.detail('@item.id',this)" title="详细"></a>
                                        }
                                        @if (IsPermissionShow("copy", actionlist))
                                        {
                                            <a class="bg-state bg-state-info fa fa-copy" href="javascript:;" onclick="app.psfpck.copy('@item.id',this)" title="复制"></a>
                                        }
                                        @if (IsPermissionShow("edit", actionlist) && item.flag_sh == 0 && item.flag_delete == 0)
                                        {
                                            <a class="bg-state bg-state-info  fa fa-pencil" href="javascript:;" onclick="app.psfpck.edit('@item.id',this)" title="编辑"></a>
                                        }
                                        @if (IsPermissionShow("delete", actionlist) && item.flag_sh == 0)
                                        {
                                            <a class="bg-state bg-state-info fa fa-trash" href="javascript:;" onclick="app.psfpck.del('@item.id', this)" title="删除"></a>
                                        }
                                        @if (IsPermissionShow("sh", actionlist) && item.flag_sh == 0)
                                        {
                                            <a class="bg-state bg-state-info fa fa-user" href="javascript:;" onclick="app.psfpck.sh('@item.id',this)" title="审核"></a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

<script>
    app.c.public_data['psfpck/list'] = app.c.public_data['psfpck/list'] || {};
    app.c.public_data['psfpck/list']['_row_total_'] = '@pageList.ItemCount';
    app.c.public_data['psfpck/list']['_page_size_'] = '@pageList.PageSize';
    app.c.public_data['psfpck/list']['_current_page_'] = '@(pageList.PageIndex)';
</script>

