@using CySoft.Model.Tb;
@using CySoft.Model.Td;
@using CySoft.Model.Ts;
@using CySoft.Utility;


@{
    Layout = null;
    var pageList = ViewData["List"] as PageList<Td_Xs_Dd_1_QueryModel>;

    var actionlist = ViewData["actionlist"] as List<string>;
    actionlist = actionlist ?? new List<string>();
    var isAdd = actionlist.Any(l => l.ToLower() == "add");
    var isDel = actionlist.Any(l => l.ToLower() == "delete");
    var isEdit = actionlist.Any(l => l.ToLower() == "edit");
    var isCopy = actionlist.Any(l => l.ToLower() == "copy");
    var isDetail = actionlist.Any(l => l.ToLower() == "detail");

    string sort = ViewData["sort"].ToString();

    var selectListShop = ViewData["userShopList"] as List<Tb_User_ShopWithShopMc>;
    selectListShop = selectListShop ?? new List<Tb_User_ShopWithShopMc>();

    var userKhList = (ViewData["userKhList"] as List<Tb_Kh>) ?? new List<Tb_Kh>();


    var digit = ViewData["DigitHashtable"] as System.Collections.Hashtable;//小数点控制

    string callback = ViewData["xs_callback"] == null ? "app.xsck.add_dh_list_callback" : ViewData["xs_callback"].ToString();

    var s_id_shop = ViewData["s_id_shop"] == null ? "" : ViewData["s_id_shop"].ToString();
}

<script type="text/javascript">
    $(function () {
        $('div[contentID="xs/search"]').attr({ controller: 'xs', action: 'search' });
        app.c.public_data['xs/search'] = app.c.public_data['xs/search'] || {};
        app.c.public_data['xs/search']['once'] = false;
        app.xs = app.xs || {};
    });
</script>



<link href="~/static/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />

<input type="hidden" pagesize value="@ViewData["pagesize"]" />
<input type="hidden" page value="@ViewData["page"]" />

<script type="text/javascript">
    app.c.public_data['xs/search'] = app.c.public_data['xs/search'] || {};
    app.c.public_data['xs/search']['threemenu'] = false;
    $.DHB._threeMenu = function () {
        if (app.c.public_data['xs/search']['threemenu'] === false) {
            app.c.public_data['xs/search']['threemenu'] = true;

            $(document).ready(function () {
                if ($(_ + 'div.contentbox-header a[active="active"]').length > 0) {
                    var currEle = $(_ + 'div.contentbox-header a[active="active"]');
                    var p = currEle.position();
                    var currLeft = p.left + currEle.width() / 2 - 16;
                    $(_ + 'div.contentbox-header > span').animate({
                        'left': currLeft
                    }, 450);
                    $(_ + 'div.contentbox-header a[active="active"]').css("color", "#58666e")
                }
            });
        }
    }
</script>


<div class="modal fade in" role="dialog">
    <div class="modal-dialog popshop">

        <div class="modal-header poptitle">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <p class="name">选择销售订单</p>
        </div>

        <div class="modal-body tab-content popcontent shopsp_cont">

            <div class="col">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="main-content">
                                <!--页头-->
                                <div class="row wrapper1 ">
                                    <div class="row">
                                        <form class="filter-form" action="/xs/search">
                                            <div class="col-xs-10 pull-right">
                                                <div class="search-box-container">
                                                    <div class="clearfix">
                                                        <!-- 内容搜索 -->

                                                        <div class="pull-right m-r-sm" style="margin-top:7px">

                                                            <select id="id_shop" name="id_shop" class="form-control input-sm box-shawn user-input search-result select2" style="width:115px;" onmouseenter="app.search.search_enter(this);" onmouseleave="app.search.search_leave(this);" onchange="app.search.do_search_dw_list(this);">
                                                                <option value="">全部送货门店</option>
                                                                @foreach (var item in selectListShop.OrderBy(d => d.rq_create))
                                                                {
                                                                    <option  value="@item.id_shop" @string.Format(item.id_shop==s_id_shop? "selected=\"selected\"" : "")>@item.mc</option>
                                                                 }
                                                            </select>

                                                        </div>

                                                        <div class="pull-right m-r-sm" style="margin-top:7px">
                                                            <select id="id_kh" name="id_kh" class="form-control input-sm box-shawn user-input search-result select2" style="width:115px;" onmouseenter="app.search.search_enter(this);" onmouseleave=" app.search.search_leave(this);" onchange=" app.search.do_search_dw_list(this);">
                                                                <option value="">全部客户</option>
                                                                @foreach (var item in userKhList.OrderBy(d => d.rq_create))
                                                                    {
                                                                    <option value="@item.id">@item.mc</option>
                                                                    }
                                                            </select>
                                                        </div>

                                                        <div class="pull-right m-r-sm" style="margin-top:7px">
                                                            <div class="btn-group">
                                                                <input type="hidden" name="start_time" id="start_time" value="">
                                                                <button type="button" class="btn btn-default btn-sm m-l-none text-left" onclick="app.search.wdatepicker_dh_list(this);" title="开始时间" data-title="开始时间" data-field="start_time" data-type="start" style="width:80px;">开始时间</button>
                                                                <button type="button" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-calendar" style="min-width: 7%;"></i></button>
                                                                <button type="button" class="btn btn-default btn-sm text-left" onclick="app.search.wdatepicker_dh_list(this);" data-field="start_time" data-type="end" data-position="" style="width:80px;" title="结束时间">结束时间</button>
                                                                <input type="hidden" name="start_time_end" id="start_time_end" value="">
                                                            </div>
                                                        </div>

                                                        <div class="pull-right m-r-sm" style="margin-top: 7px">
                                                            <div class="1" style="position: relative;" onmouseenter="$(this).parent().find('span:last()').show();" onmouseleave="$(this).parent().find('span:last()').hide();">
                                                                <input type="text" value="" onkeypress="app.search.trigger_search_dw_list(event);" class="form-control input-sm search-h inline v-middle search-result search" name="keyword" id="keyword" style="width: 250px; border-right: none; border-radius: 2px 0 0 2px;" placeholder="单号/经办人/备注" ondblclick="app.search.search_item_clear_dw_list(this);" /><span><button type="button" onclick="app.search.do_search_dw_list(this);" id="btn-search" class="btn btn-sm btn-default search-btn"><i class="fa fa-search"></i></button></span>
                                                                <span onclick="app.search.search_item_clear_dw_list(this);" style="display: none; position: absolute; right: 27px; top: 4px; padding: 2px 2px 2px 4px; cursor: pointer; color: #d5d3d5; width: 19px; height: 25px; background: #fff;">
                                                                    <i class="fa fa-times-circle"></i>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <script>
                                            app.c.public_data['xs/search'] = app.c.public_data['xs/search'] || {};
                                            app.c.public_data['xs/search']['search_all'] = false;
                                            var currentSearch = 'app.c.public_data[\'xs/search\'][\'search\']';
                                            eval(currentSearch + ' = false;');
                                            $.DHB._search = function () {
                                                eval('if(' + currentSearch + '===false){app.search.search_dw_list();' + currentSearch + '=true;}');
                                            }

                                            app.search = app.search || {};

                                            app.search.search_dw_list = function () {
                                                app.c.public_data['xs/search'] = app.c.public_data['xs/search'] || {};
                                                app.c.public_data['xs/search']['_row_total_'] = '@pageList.ItemCount';
                                                app.c.public_data['xs/search']['_page_size_'] = '@pageList.PageSize';
                                                app.c.public_data['xs/search']['_current_page_'] = '@(pageList.PageIndex)';
                                                app.search.do_search_pagination_dw_list();
                                            }


                                            app.search.trigger_search_dw_list = function (event) {
                                                //绑定回车键
                                                event = event || window.event
                                                if (event.keyCode == 13) {
                                                    app.search.do_search_dw_list();
                                                    event.preventDefault();
                                                }
                                            }

                                            //查询
                                            app.search.do_search_dw_list = function (el, isExport) {
                                                isExport = isExport || 0;
                                                var v = $(_ + ".filter-form").serialize();
                                                var url = '/xs/search?_search_=1&' + v;
                                                if (isExport == 1) {
                                                    url += '&export=1';
                                                    url = $.DHB.U(url);
                                                    window.location.href = url;
                                                }
                                                else {
                                                    var options = {
                                                        url: $.DHB.U(url),
                                                        datatype: 'html',
                                                        beforeSend: function () {
                                                            $.DHB.showButterbar();
                                                        },
                                                        callback: function (data, textStatus, jqXHR) {
                                                            if ($('#xs-list-list-fresh-box', _).length > 0) {
                                                                $('#xs-list-list-fresh-box', _).html(data);
                                                            }
                                                            var curSearchcallback = 'app.xs.list_search_callback';
                                                            var curListcallback = 'app.xs.list_listready';
                                                            eval('try {if(' + curSearchcallback + ' && typeof(' + curSearchcallback + ')=="function"){' + curSearchcallback + '(data, textStatus); }}catch(e){}');
                                                            eval('try {if(' + curListcallback + ' && typeof(' + curListcallback + ')=="function"){' + curListcallback + '(); }}catch(e){}');
                                                            app.search.do_search_pagination_dw_list();
                                                        },
                                                        complete: function (XHR, TS) {
                                                            $.DHB.closeButterbar();
                                                        }
                                                    };
                                                    cy.http.Get(options);
                                                }
                                                return false;
                                            };

                                            //分页
                                            app.search.do_search_pagination_dw_list = function () {
                                                $.DHB.func.pagination({
                                                    module_name: 'Manager',
                                                    controller_name: 'xs',
                                                    action_name: 'search',
                                                    ready_once: false
                                                });
                                            }


                                            app.search.do_search_option_dw_list = function (el) {
                                                if ($(el).attr('class') != '') {
                                                    $(el)
                                                        .find('span')
                                                        .each(function () {
                                                            if ($(this).attr('class') == '') {
                                                                $(this).attr('class', 'order-active');
                                                            } else {
                                                                $(this).attr('class', '');
                                                            }
                                                        });

                                                    if ($(el).find('span:eq(0)').attr('class') == '') {
                                                        $(el).parents('.btn-group').find('input:eq(1)').val('desc');
                                                    } else {
                                                        $(el).parents('.btn-group').find('input:eq(1)').val('asc');
                                                    }
                                                }

                                                if ($(el).attr('class') == '') {
                                                    $(el).parent().find('.active').removeClass('active');
                                                    $(el).addClass('active');
                                                    $(el)
                                                        .parents('.btn-group')
                                                        .find('input:eq(0)')
                                                        .val($(el).attr('value'));
                                                }

                                                $(el).parents('.btn-group').removeClass('open');
                                                var selectA = $(el).find('a').clone();
                                                selectA.find('span[class=""]').remove();
                                                $(el)
                                                    .parents('.btn-group')
                                                    .find('button span:eq(0)')
                                                    .html(selectA.html());

                                                app.search.do_search_dw_list();
                                            }


                                            app.search.search_enter = function (el) {
                                                if (app.c.public_data['xs/search']['search_all'] === false) {
                                                    $(el).parents('.search-box-container').find("div").css({ "right": "0px", "left": "auto"});
                                                    $(el)
                                                        .parents('.search-box-container')
                                                        .find(".bootstrap-select ul.dropdown-menu")
                                                        .each(function () {
                                                            var ts = $(this).find('li:first() span:first()');
                                                            ts.text('全部');
                                                        });
                                                    app.c.public_data['xs/search']['search_all'] = true;
                                                }
                                            }


                                            app.search.search_leave = function (el) {
                                            }

                                            app.search.search_client_clear_dw_list = function (el) {
                                                $(el).parents('.input-group').find('input').val('');
                                                app.search.do_search_dw_list();
                                            }


                                            app.search.wdatepicker_dh_list = function (el) {
                                                var booStart = $(el).data('type') == 'start';
                                                var option = {};
                                                option['el'] = $(el).data('field') + (!booStart ? '_end' : '');
                                                option['onpicked'] = function () {
                                                    $(el)
                                                        .text($dp.cal.getP('y') +
                                                            '-' +
                                                            $dp.cal.getP('M') +
                                                            '-' +
                                                            $dp.cal.getP('d'));
                                                    if (booStart) {
                                                        setTimeout(function () {
                                                            $(el)
                                                                .parent()
                                                                .find('[data-type="end"]')
                                                                .data('position', '1')
                                                                .click();
                                                        },
                                                            5000);
                                                    }
                                                    app.search.do_search_dw_list();
                                                };

                                                if (booStart) {
                                                    option['maxDate'] =
                                                        '#F{ $dp.$D(\'' + $(el).data('field') + '_end\') }';
                                                } else {
                                                    option['minDate'] = '#F{ $dp.$D(\'' + $(el).data('field') + '\') }';
                                                    if ($(el).data('position') == '1') {
                                                        //option['position'] ={left:$(el).offset().left,top:$(el).offset().top+34};
                                                        //$(el).data('position','');
                                                    }
                                                }
                                                option['oncleared'] = function () {
                                                    $(el).html(booStart ? $(el).data('title') : '截至日期');
                                                    app.search.do_search_dw_list();
                                                };

                                                WdatePicker(option);
                                            }


                                            app.search.search_item_clear_dw_list = function (el) {
                                                var par = $(el).parents('form');
                                                par.get(0).reset();
                                                app.search.do_search_dw_list();
                                            }
                                                </script>
                                            </div>

                                            <input id="hid_sort" type="hidden" name="sort" value="@sort" />
                                        </form>
                                    </div>
                                </div>
                                <!--数据表格-->

                                <div id="xs-list-list-fresh-box" class="table_list table_max_h">
                                    <table class="table m-b-none row1 selectAll-table status-box one-line" onmouseover="$.DHB.func.listOperate(this);" style="table-layout: fixed">
                                        <thead>
                                            <tr>
                                                <th width="55" class="table-p-l-sm table-p-r-xsm-fixed">序号</th>
                                                <th  width="8%" class="text-center">开单日期</th>
                                                <th  width="15%">单据编号</th>
                                                <th>送货门店</th>
                                                <th  width="10%">客户名称</th>
                                                <th width="9%">经办人</th>
                                                <th width="8%">明细总金额</thwidth="5%">
                                                <th width="5%">
                                                    操作
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="dwlist-main-tbody">
                                            @{
                                                if (pageList == null || pageList.Count == 0)
                                                {
                                            <tr>
                                                <td colspan="8" align="center">
                                                    <img src="~/static/images/nodata.png" class="table_nodata">
                                                </td>
                                            </tr>
                                                }
                                                else
                                                {
                                                    var list = pageList.Items;
                                                    if (list != null && list.Any())
                                                    {
                                                        int index = 1;
                                                        foreach (var item in list)
                                                        {

                                            <tr id="row-xs-id-@item.id" class="tr-status-finished" onclick="app.xs.select_dh(this);" data-value="@JSON.Serialize(item)" style="cursor:pointer">
                                                <td class="text-center">
                                                    @(index++)
                                                </td>
                                                <td class="text-center">@string.Format("{0:yyyy-MM-dd}", item.rq)</td>

                                                <td>@item.dh</td>
                                                <td>@item.shop_name</td>
                                                <td>@item.kh_name</td>
                                                <td>@item.jbr_name</td>
                                                <td class="align_right">@item.je_mxtotal.Digit((int)digit["dj_digit"])</td>
                                       
                                                <td>
                                                    <a class="bg-state bg-state-info color-b fa fa-exchange blockbtn" title="选择" href="###"></a>
                                                </td>
                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default w-xs" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(function () {
        $(_ + "#dialog-xs-show-search .modal-body").removeClass('modal-body');
    });

    app.xs = app.xs || {};

    app.xs.select_dh = function (el) {
        var selectVal = $(el).data('value');
        eval('try {if( @callback  && typeof(@callback)=="function"){@string.Format("{0}(selectVal)", callback); }}catch(e){}');
        $.DHB.dialog({ 'id': 'dialog-xs-show-search', 'action': 'destroy' });
    }

</script>

