@using System.Collections
@using CySoft.Model.Tb;
@using CySoft.Model.Td;
@using CySoft.Model.Ts;
@using CySoft.Utility;
@{
    Layout = null;
    var pageList = ViewData["List"] as PageList<Td_Ps_Cktzd_1_Query>;

    
    string sort = ViewData["sort"].ToString();
    var digit = ViewData["DigitHashtable"] as Hashtable;//小数点控制
    digit = digit ?? new Hashtable();
    var shop_master_item= ViewData["shop_master_item"] as Tb_Shop;
    shop_master_item = shop_master_item ?? new Tb_Shop();
    var selectListShop = ViewData["userShopList"] as List<Tb_User_ShopWithShopMc>;
    selectListShop = selectListShop ?? new List<Tb_User_ShopWithShopMc>();
    string callback = ViewData["dh_callback"] == null ? "app.psck.select_cktzd_callback" : ViewData["dh_callback"].ToString();
}
<script type="text/javascript">
    $(function () {
        $('div[contentID="pscktzd/searchlist"]').attr({ controller: 'pscktzd', action: 'searchlist' });
        app.c.public_data['pscktzd/searchlist'] = app.c.public_data['pscktzd/searchlist'] || {};
        app.c.public_data['pscktzd/searchlist']['once'] = false;
        app.pscktzd = app.pscktzd || {};
    });
</script>

<link href="~/static/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />


<input type="hidden" pagesize value="@ViewData["pagesize"]" />
<input type="hidden" page value="@ViewData["page"]" />

<div class="contentbox-header">
    <a active="active" class="sub-tab" onclick="$.DHB.refresh();">
        配送出库
    </a>
    <span style="left: 15px;"></span>
</div>
<script type="text/javascript">
    app.c.public_data['pscktzd/searchlist'] = app.c.public_data['pscktzd/searchlist'] || {};
    app.c.public_data['pscktzd/searchlist']['threemenu'] = false;
    $.DHB._threeMenu = function() {
        if (app.c.public_data['pscktzd/searchlist']['threemenu'] === false) {
            app.c.public_data['pscktzd/searchlist']['threemenu'] = true;

            $(document)
                .ready(function() {
                    if ($(_ + 'div.contentbox-header a[active="active"]').length > 0) {
                        var currEle = $(_ + 'div.contentbox-header a[active="active"]');
                        var p = currEle.position();
                        var currLeft = p.left + currEle.width() / 2 - 16;
                        $(_ + 'div.contentbox-header > span')
                            .animate({
                                    'left': currLeft
                                },
                                450);
                        $(_ + 'div.contentbox-header a[active="active"]').css("color", "#58666e")
                    }
                });
        }
    }
</script>

<div class="modal fade in" role="dialog">
    <div class="modal-dialog popshop">

        <div class="modal-header poptitle">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <p class="name">选择配送通知单</p>
        </div>

        <div class="modal-body tab-content popcontent shopsp_cont">

            <div class="col">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="main-content">
                                <!--页头-->
                                <div class="row wrapper1 ">
                                    <div class="col-xs-10 pull-right">
                                        <div class="row">
                                            <form class="filter-form" action="/pscktzd/searchlist">
                                                <div class="col-xs-10 pull-right">
                                                    <div class="search-box-container">
                                                        <div class="clearfix">
                                                            <!-- 内容搜索 -->


                                                            <div class="pull-right m-r-sm" style="margin-top:7px">

                                                                <select  name="id_shop_rk" class="form-control input-sm box-shawn user-input search-result select2" style="width:115px;" onmouseenter="app.search.search_enter(this);" onmouseleave="app.search.search_leave(this);" onchange="app.search.do_search_pscktzd_searchlist(this);">
                                                                    <option value="">全部商品门店</option>
                                                                    @foreach (var item in selectListShop.OrderBy(d => d.rq_create))
                                                                    {
                                                                        if (string.Format("{0}", ViewData["id_shop_master"]) != item.id_shop)
                                                                        {
                                                                            <option value="@item.id_shop">@item.mc</option>
                                                                        }
                                                                    }
                                                                </select>

                                                            </div>
                                                            <div class="pull-right m-r-sm" style="margin-top:7px">
                                                                <div class="btn-group">
                                                                    <input type="hidden" name="start_time" id="start_time" value="">
                                                                    <button type="button" class="btn btn-default btn-sm m-l-none text-left" onclick="app.search.wdatepicker_pscktzd_searchlist(this);" title="开始时间" data-title="开始时间" data-field="start_time" data-type="start" style="width:80px;">开始时间</button>
                                                                    <button type="button" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-calendar" style="min-width: 7%;"></i></button>
                                                                    <button type="button" class="btn btn-default btn-sm text-left" onclick="app.search.wdatepicker_pscktzd_searchlist(this);" data-field="start_time" data-type="end" data-position="" style="width:80px;" title="结束时间">结束时间</button>
                                                                    <input type="hidden" name="start_time_end" id="start_time_end" value="">
                                                                </div>
                                                            </div>

                                                            <div class="pull-right m-r-sm" style="margin-top: 7px">
                                                                <div class="1" style="position: relative;" onmouseenter="$(this).parent().find('span:last()').show();" onmouseleave="$(this).parent().find('span:last()').hide();">
                                                                    <input type="text" value="" onkeypress="app.search.trigger_search_pscktzd_searchlist(event);" class="form-control input-sm search-h inline v-middle search-result search" name="keyword" id="keyword" style="width: 250px; border-right: none; border-radius: 2px 0 0 2px;" placeholder="单号/经办人/备注" ondblclick="    app.search.search_item_clear_pscktzd_searchlist(this);" /><span><button type="button" onclick="app.search.do_search_pscktzd_searchlist(this);" id="btn-search" class="btn btn-sm btn-default search-btn"><i class="fa fa-search"></i></button></span>
                                                                    <span onclick="app.search.search_item_clear_pscktzd_searchlist(this);" style="display: none; position: absolute; right: 27px; top: 4px; padding: 2px 2px 2px 4px; cursor: pointer; color: #d5d3d5; width: 19px; height: 25px; background: #fff;">
                                                                        <i class="fa fa-times-circle"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <script>
                                            app.c.public_data['pscktzd/searchlist'] = app.c.public_data['pscktzd/searchlist'] || {};
                                            app.c.public_data['pscktzd/searchlist']['search_all'] = false;
                                            var currentSearch = 'app.c.public_data[\'pscktzd/searchlist\'][\'search\']';
                                            eval(currentSearch + ' = false;');
                                            $.DHB._search = function () {
                                                eval('if(' + currentSearch + '===false){app.search.search_pscktzd_searchlist();' + currentSearch + '=true;}');
                                            }

                                            app.search = app.search || {};

                                            app.search.search_pscktzd_searchlist = function () {
                                                app.c.public_data['pscktzd/searchlist'] = app.c.public_data['pscktzd/searchlist'] || {};
                                                app.c.public_data['pscktzd/searchlist']['_row_total_'] = '@pageList.ItemCount';
                                                app.c.public_data['pscktzd/searchlist']['_page_size_'] = '@pageList.PageSize';
                                                app.c.public_data['pscktzd/searchlist']['_current_page_'] = '@(pageList.PageIndex)';
                                                app.search.do_search_pagination_pscktzd_searchlist();
                                            }


                                            app.search.trigger_search_pscktzd_searchlist = function (event) {
                                                //绑定回车键
                                                event = event || window.event
                                                if (event.keyCode == 13) {
                                                    app.search.do_search_pscktzd_searchlist();
                                                    event.preventDefault();
                                                }
                                            }

                                            //查询
                                            app.search.do_search_pscktzd_searchlist = function (el, isExport) {
                                                isExport = isExport || 0;
                                                var v = $(_ + ".filter-form").serialize();
                                                var url = '/pscktzd/searchlist?_search_=1&' + v;
                                                if (isExport == 1) {
                                                    url += '&export=1';
                                                    url = $.DHB.U(url);
                                                    window.location.href = url;
                                                }
                                                else {
                                                    var options = {
                                                        url: $.DHB.U(url),
                                                        datatype: 'html',
                                                        beforeSend: function () {
                                                            $.DHB.showButterbar();
                                                        },
                                                        success: function (data, textStatus, jqXHR) {
                                                            debugger;
                                                            if ($('#pscktzd-searchlist-list-fresh-box', _).length > 0) {
                                                                $('#pscktzd-searchlist-list-fresh-box', _).html(data);
                                                            }
                                                            var curSearchcallback = 'app.pscktzd.searchlist_search_callback';
                                                            var curListcallback = 'app.pscktzd.searchlist_listready';
                                                            eval('try {if(' + curSearchcallback + ' && typeof(' + curSearchcallback + ')=="function"){' + curSearchcallback + '(data, textStatus); }}catch(e){}');
                                                            eval('try {if(' + curListcallback + ' && typeof(' + curListcallback + ')=="function"){' + curListcallback + '(); }}catch(e){}');
                                                            app.search.do_search_pagination_pscktzd_searchlist();
                                                        },
                                                        complete: function (XHR, TS) {
                                                            $.DHB.closeButterbar();
                                                        }
                                                    };
                                                    //cy.http.Get(options);
                                                    app.httpAjax.post(options);
                                                }
                                                return false;
                                            };

                                            //分页
                                            app.search.do_search_pagination_pscktzd_searchlist = function () {
                                                $.DHB.func.pagination({
                                                    module_name: 'Manager',
                                                    controller_name: 'pscktzd',
                                                    action_name: 'searchlist',
                                                    ready_once: false
                                                });
                                            }


                                            app.search.do_search_option_pscktzd_searchlist = function (el) {
                                                if ($(el).attr('class') != '') {
                                                    $(el)
                                                        .find('span')
                                                        .each(function () {
                                                            if ($(this).attr('class') == '') {
                                                                $(this).attr('class', 'order-active');
                                                            } else {
                                                                $(this).attr('class', '');
                                                            }
                                                        });

                                                    if ($(el).find('span:eq(0)').attr('class') == '') {
                                                        $(el).parents('.btn-group').find('input:eq(1)').val('desc');
                                                    } else {
                                                        $(el).parents('.btn-group').find('input:eq(1)').val('asc');
                                                    }
                                                }

                                                if ($(el).attr('class') == '') {
                                                    $(el).parent().find('.active').removeClass('active');
                                                    $(el).addClass('active');
                                                    $(el)
                                                        .parents('.btn-group')
                                                        .find('input:eq(0)')
                                                        .val($(el).attr('value'));
                                                }

                                                $(el).parents('.btn-group').removeClass('open');
                                                var selectA = $(el).find('a').clone();
                                                selectA.find('span[class=""]').remove();
                                                $(el)
                                                    .parents('.btn-group')
                                                    .find('button span:eq(0)')
                                                    .html(selectA.html());

                                                app.search.do_search_pscktzd_searchlist();
                                            }


                                            app.search.search_enter = function (el) {
                                                if (app.c.public_data['pscktzd/searchlist']['search_all'] === false) {
                                                    $(el)
                                                        .parents('.search-box-container')
                                                        .find(".bootstrap-select ul.dropdown-menu")
                                                        .each(function () {
                                                            var ts = $(this).find('li:first() span:first()');
                                                            ts.text('全部');
                                                        });
                                                    app.c.public_data['pscktzd/searchlist']['search_all'] = true;
                                                }
                                            }


                                            app.search.search_leave = function (el) {
                                            }

                                            app.search.search_client_clear_pscktzd_searchlist = function (el) {
                                                $(el).parents('.input-group').find('input').val('');
                                                app.search.do_search_pscktzd_searchlist();
                                            }


                                            app.search.wdatepicker_pscktzd_searchlist = function (el) {
                                                var booStart = $(el).data('type') == 'start';
                                                var option = {};
                                                option['el'] = $(el).data('field') + (!booStart ? '_end' : '');
                                                option['onpicked'] = function () {
                                                    $(el)
                                                        .text($dp.cal.getP('y') +
                                                            '-' +
                                                            $dp.cal.getP('M') +
                                                            '-' +
                                                            $dp.cal.getP('d'));
                                                    if (booStart) {
                                                        setTimeout(function () {
                                                            $(el)
                                                                .parent()
                                                                .find('[data-type="end"]')
                                                                .data('position', '1')
                                                                .click();
                                                        },
                                                            5000);
                                                    }
                                                    app.search.do_search_pscktzd_searchlist();
                                                };

                                                if (booStart) {
                                                    option['maxDate'] =
                                                        '#F{ $dp.$D(\'' + $(el).data('field') + '_end\') }';
                                                } else {
                                                    option['minDate'] = '#F{ $dp.$D(\'' + $(el).data('field') + '\') }';
                                                    if ($(el).data('position') == '1') {
                                                        //option['position'] ={left:$(el).offset().left,top:$(el).offset().top+34};
                                                        //$(el).data('position','');
                                                    }
                                                }
                                                option['oncleared'] = function () {
                                                    $(el).html(booStart ? $(el).data('title') : '截至日期');
                                                    app.search.do_search_pscktzd_searchlist();
                                                };

                                                WdatePicker(option);
                                            }


                                            app.search.search_item_clear_pscktzd_searchlist = function (el) {
                                                var par = $(el).parents('form');
                                                par.get(0).reset();
                                                app.search.do_search_pscktzd_searchlist();
                                            }
                                                    </script>
                                                </div>

                                                <input id="hid_sort" type="hidden" name="sort" value="@sort" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--数据表格-->
                                @* //TODO: 此ID名称一定要按格式要求Controller-Action-list-fresh-box *@
                                <div id="pscktzd-searchlist-list-fresh-box" class="table_list table_max_h">
                                    <table class="table m-b-none row1 selectAll-table status-box one-line" onmouseover="$.DHB.func.listOperate(this);" style="table-layout: fixed">
                                        <thead>
                                            <tr>
                                                <th width="55" class="table-p-l-sm table-p-r-xsm-fixed">序号</th>
                                                <th width="160" class="text-center">开单日期</th>
                                                <th>单据编号</th>
                                                <th>配送门店</th>
                                                <th>入库门店</th>
                                                <th>经办人</th>
                                                <th>总金额</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dwlist-main-tbody">
                                            @{
                                    if (pageList == null || pageList.Count == 0)
                                    {
                                            <tr>
                                                <td colspan="7" align="center">
                                                    <img src="~/static/images/nodata.png" class="table_nodata">
                                                </td>
                                            </tr>
                                    }
                                    else
                                    {
                                        var list = pageList.Items;
                                        if (list != null && list.Any())
                                        {
                                            int index = pageList.PageIndex * pageList.PageSize + 1;
                                            foreach (var item in list)
                                            {
                                                <tr id="row-jh-id-@item.id" class="tr-status-finished" data-value="@JSON.Serialize(item)" onclick="app.pscktzd.select_dh(this);">
                                                    <td class="text-center">
                                                        @(index++)
                                                    </td>
                                                    <td class="text-center">@string.Format("{0:yyyy-MM-dd}", item.rq)</td>
                                                    <td>@item.dh</td>
                                                    <td>@shop_master_item.mc</td>
                                                    <td>@item.shop_name</td>
                                                    <td>@item.jbr_name</td>
                                                    <td>@item.je_mxtotal.Digit((int)digit["dj_digit"])</td>
                                                </tr>
                                            }
                                        }
                                    }
}
                                        </tbody>
                                    </table>
                                </div>

                                <!--页脚-->
                                <footer class="panel-footer">
                                    <div class="dropup d-i-b" style="position: relative">
                                    </div>&nbsp;
                                    <ul id="Pagination" class="pagination pagination-sm m-t-none m-b-none"></ul>
                                    <div style="clear:both;">
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    app.pscktzd = app.pscktzd || {};

    app.pscktzd.select_dh=function(obj) {
        var selectVal = $(obj).data('value');
        eval('try {if( @callback  && typeof(@callback)=="function"){@string.Format("{0}(selectVal)", callback); }}catch(e){}');
        $.DHB.dialog({ 'id': 'dialog-pscktzd-search', 'action': 'destroy' });
    }
    //内页加载完成
    app.pscktzd.list_ready = function () {
        //Init Sort
        app.pscktzd.searchlist_search_callback(null, null);
    };

    //分页回调
    app.pscktzd.list_pagination_callback = function (data, textStatus, idx, jq) {
        app.pscktzd.searchlist_search_callback(data, textStatus);
    };

    //查询回调
    app.pscktzd.searchlist_search_callback = function (data, textStatus) {
        var sort_array = $('.table a[data-sort]', _);
        var $current_sort = ($('#hid_sort', _).val().toLowerCase()).split(' ', 2);       //这是当前排序

        //绑定UI
        sort_array.each(function (index, obj) {
            var $current = $(obj);
            if ($current.attr('data-sort') === $current_sort[0]) {
                $current.attr('data-dir', $current_sort[1]);
                if ($current_sort[1] === 'asc')
                    $current.append(app.sort_icon.asc);      //升序
                else
                    $current.append(app.sort_icon.desc);     //降序
            }
            else {
                $current.append(app.sort_icon.sort);
            }
        });

        //绑定事件
        sort_array.off('click').on('click', function (e) {
            var e = e || event;
            var $current = $(e.target);        //获取当前点击派序列
            var _dir = 'desc';
            if ($.trim($current.attr('data-dir')).length == 0 || $.trim($current.attr('data-dir')) === 'asc') {
                $current.attr('data-dir', _dir);
            }
            else {
                _dir = 'asc';
                $current.attr('data-dir', _dir);
            }
            $('#hid_sort', _).val($current.attr('data-sort') + ' ' + _dir);
            app.search.do_search_pscktzd_searchlist();
        });
    };
</script>
