@using System.Collections
@using CySoft.Model.Td
@using CySoft.Utility
@{
    var actionlist = ViewData["actionlist"] as List<string>;
    actionlist = actionlist ?? new List<string>();
    var IsPermissionShow = ViewData["_IsPermissionShow_"] as Func<string, List<string>, bool>;
    var digit = ViewData["DigitHashtable"] as Hashtable;//小数点控制
    digit = digit ?? new Hashtable();
    var pageList = ViewData["List"] as PageList<Td_Kc_Sltz_1_Query>;
}
<table class="table m-b-none row1 selectAll-table status-box one-line" onmouseover="$.DHB.func.listOperate(this);" style="table-layout: fixed">
    <thead>
        <tr>
            <th width="40" class="table-p-l-sm table-p-r-xsm-fixed">序号</th>
            <th width="100">开单日期</th>
            <th width="200">单号</th>
            <th width="120">制单门店</th>
            @*<th>总金额</th>*@
            <th width="80">审核状态</th>
            <th width="200" class="text-center">操作</th>
        </tr>
    </thead>
    <tbody id="kcsltzdlist-main-tbody">
        @{
            if (pageList == null || pageList.Count == 0)
            {
                <tr>
                    <td colspan="6" align="center">
                        <img src="~/static/images/nodata.png" class="table_nodata">
                    </td>
                </tr>
            }
            else
            {
                var list = pageList.Items;
                if (list != null && list.Any())
                {
                    int index = pageList.PageIndex * pageList.PageSize + 1;
                    foreach (var item in list)
                    {
                        <tr id="row-kcsltzd-id-@item.id" class="tr-status-finished">
                            <td class="text-center">
                                @(index++)
                            </td>
                            <td class="text-center"><a class="list-link">@(item.rq == null ? "" : ((DateTime)item.rq).ToString("yyyy-MM-dd"))</a></td>
                            <td class="text-center">
                                @item.dh
                            </td>
                            <td class="text-center">
                                @item.mc_shop
                            </td>
                            <td class="text-center">
                                @(item.flag_sh == 0 ? "未审核" : "已审核")
                            </td>
                            <td class="list-operate">
                                <div class="look-out1 supernatant">
                                    <div class="second-height-operate">
                                        @if (IsPermissionShow("edit", actionlist) && item.flag_sh == 0 && item.flag_delete == 0)
                                        {
                                            <a class="bg-state bg-state-info fa fa-pencil" href="javascript:;" onclick="app.kcsltzd.edit('@item.id',this)" title="编辑"></a>
                                        }
                                        @if (IsPermissionShow("copy", actionlist))
                                        {
                                            <a class="bg-state bg-state-info fa fa-copy" href="javascript:;" onclick="app.kcsltzd.copy('@item.id',this)" title="复制"></a>
                                        }
                                        @if (IsPermissionShow("detial", actionlist))
                                        {
                                            <a class="bg-state bg-state-info fa fa-eye" href="javascript:;" onclick="app.kcsltzd.detial('@item.id',this)" title="详细"></a>
                                        }
                                        @if (IsPermissionShow("delete", actionlist) && item.flag_sh == 0 && item.flag_delete == 0)
                                        {
                                            <a class="bg-state bg-state-info fa fa-trash" href="javascript:;" onclick="app.kcsltzd.del('@item.id',this)" title="删除"></a>
                                        }
                                        @if (IsPermissionShow("sh", actionlist) && item.flag_sh == 0 && item.flag_delete == 0 && item.flag_cancel == 0)
                                        {
                                            <a class="bg-state bg-state-info fa fa-user" href="javascript:;" onclick="app.kcsltzd.sh('@item.id',this)" title="审核"></a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>


<script type="text/javascript">
    app.c.public_data['kcsltzd/list'] = app.c.public_data['kcsltzd/list'] || {};
    app.c.public_data['kcsltzd/list']['_row_total_'] = '@pageList.ItemCount',
    app.c.public_data['kcsltzd/list']['_page_size_'] = '@pageList.PageSize',
    app.c.public_data['kcsltzd/list']['_current_page_'] = '@(pageList.PageIndex)';
</script>