@using System.Collections
@using CySoft.Model.Tb
@using CySoft.Model.Td
@using CySoft.Utility
@{
    var _result = ViewData["_result_"] as ProcedureOutQueryResult;
    _result = _result ?? new ProcedureOutQueryResult();
    var spkc_data = _result.rList;
    var pageSize = Convert.ToInt32(string.Format("{0}", ViewData["pageSize"] ?? "10"));
    var page = Convert.ToInt32(string.Format("{0}", ViewData["page"] ?? "1"));
    var digit = ViewData["DigitHashtable"] as System.Collections.Hashtable;//小数点控制
}
<table class="table m-b-none row1 selectAll-table status-box one-line" onmouseover="$.DHB.func.listOperate(this);" style="table-layout: fixed">
    <thead>
        <tr>
            <th width="55" class="table-p-l-sm table-p-r-xsm-fixed">序号</th>
            @{
                List<string> orderKeysName = new List<string>()
                                        {
                                           "销售日期","星期","门店名称","商品分类","商品名称","条码","单位","销售数量","应销售金额","折扣金额","实际销售金额","成本金额","毛利金额","毛利率"
                                        };
                List<string> orderKeys = new List<string>()
                                        {
                                            "rq_xs","rq_wd","mc_shop","mc_spfl","mc_sp","barcode","dw","sl_xs","je_yxs","je_zk","je_xs","je_cb","je_ml","mll"
                                        };
                if (orderKeysName.Any())
                {
                    foreach (var v in orderKeysName)
                    {
                        <th width="110" class="table-p-l-sm table-p-r-xsm-fixed">@v</th>
                    }
                }
            }
        </tr>
    </thead>
    <tbody id="reportlist-main-tbody">
        @{
            if (spkc_data != null && spkc_data.Count > 0)
            {
                var index = page * pageSize + 1;
                foreach (var item in spkc_data)
                {
                    var hashtab = item as Hashtable;
                    if (hashtab != null && hashtab.Count > 0)
                    {
                        Dictionary<string, string> xq = new Dictionary<string, string>()
                                               {
                                                   {"2","星期一"},{"3","星期二"},{"4","星期三"},{"5","星期四"},
                                                   {"6","星期五"},{"7","星期六"},{"1","星期日"},
                                               };
                        <tr>
                            <td  class="align_center"><a class="list-link">@(index++)</a></td>
                            @foreach (var key in orderKeys)
                            {
                                if (key == "rq_wd")
                                {
                                    var v = string.Format("{0}", hashtab[key]);
                                    <td  class="align_center"><a class="list-link">@xq[v]</a></td>
                                }
                                else if (key.Contains("je"))
                                {
                                    var v = string.Format("{0}", hashtab[key]);
                                    decimal d = 0;
                                    decimal.TryParse(v, out d);
                                    decimal? nd = d;
                                    <td  class="align_right"><a class="list-link">@nd.Digit((int)digit["je_digit"])</a></td>
                                }
                                else if (key == "mll")
                                {
                                    var v = string.Format("{0}", hashtab[key]);
                                    decimal d = 0;
                                    decimal.TryParse(v, out d);
                                    decimal? nd = d * 100;
                                    <td  class="align_right"><a class="list-link">@(nd.Digit((int)digit["sl_digit"]))%</a></td>
                                }
                                else if (key == "rq_xs")
                                {
                                    var v = string.Format("{0}", hashtab[key]).Replace("0:00:00", "");
                                    <td  class="align_center"><a class="list-link">@v</a></td>
                                }
                                else if (key.Contains("sl"))
                                {
                                    var v = string.Format("{0}", hashtab[key]);
                                    decimal d = 0;
                                    decimal.TryParse(v, out d);
                                    decimal? nd = d;
                                    <td  class="align_right"><a class="list-link">@nd.Digit((int)digit["sl_digit"])</a></td>
                                }

                                else
                                {
                                    <td><a class="list-link">@hashtab[key]</a></td>
                                }
                            }
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    app.c.public_data['report/spxshzreport'] = app.c.public_data['report/spxshzreport'] || {};
    app.c.public_data['report/spxshzreport']['_row_total_'] = '@_result.outstr';
    app.c.public_data['report/spxshzreport']['_page_size_'] = '@pageSize';
    app.c.public_data['report/spxshzreport']['_current_page_'] = '@(page)';
</script>