

@{
    var digit = ViewData["DigitHashtable"] as System.Collections.Hashtable;//小数点控制
    var report_idshop = ViewData["loginInfo.id_shop"];
}
<input type="hidden" pagesize value="10" />
<input type="hidden" page value="1" />

<div class="col" id="spjhhzreport">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="main-content">
                    <!--页头-->
                    <div class="row wrapper1 ">
                        <div class="col-xs-12 pull-right m-t">
                            <div class="row">
                               
                                <form class="filter-form" action="/report/spjhhzreport">
                                    <div class="@*col-xs-10*@ pull-right  @*search_box*@">
                                        <div class="search-box-container">

                                            <div class="pull-left m-r-sm" style="margin-top: 7px">
                                                
                                                <div class="clear-padding f-l">
                                                    <div class="btn-group">
                                                        <input type="text" name="rq_begin" id="rq_begin" value="" class="btn btn-default btn-sm m-l-none text-left w-85" readonly>
                                                        <button type="button" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-calendar" style="min-width: 7%;"></i></button>
                                                        <input type="text" name="rq_end" id="rq_end" value="" class="btn btn-default btn-sm m-l-none text-left w-85" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-left m-r-sm" style="margin-top: 7px">
                                               
                                                <div class="clear-padding f-l" id="spjhhzreportapi_idshop" style="width:115px;">

                                                    <select id="id_shop" name="id_shop" class="form-control input-sm box-shawn user-input search-result" style="width: 115px;" v-model="selected">
                                                        <option value="">全部</option>
                                                        <option v-for="option in getshop" v-bind:value="option.id_shop">
                                                            {{ option.mc }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="pull-left m-r-sm" style="margin-top: 7px">
                                                    
                                                    <div class="clear-padding f-l">
                                                        <div class="1" style="position: relative;" id="shopfl_box">
                                                            <input type="text" value="" id="shopfl" class="form-control input-sm search-h inline v-middle search-result search" placeholder="选择商品分类" readonly="readonly" />
                                                            <input type="hidden" name="id_spfl" id="fldata"/>
                                                            <span  class="clear_button">
                                                                <i class="fa fa-times-circle"></i>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                              
                                            <div class="pull-left m-r-sm" style="margin-top:7px">
                                                
                                                <div class="clear-padding f-l">
                                                    <input class="form-control user-input valid" style="width :150px;" maxlength="80" id="barcode" name="barcode" placeholder="商品条码" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="pull-left m-r-sm" style="margin-top:7px">
                                                
                                                <div class="clear-padding f-l">
                                                    <input class="form-control user-input valid" style="width :150px;" maxlength="80" id="mc_sp" name="mc_sp" placeholder="商品名称" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="pull-left m-r-sm m-b" style="margin-top: 7px">
                                                <span>
                                                    <button type="button" id="btn-search" class="btn btn-info">
                                                        <i class="fa fa-search">查询</i>
                                                    </button>
                                                </span>
                                            </div>

                                        </div>
                                        

                                    </div>

                                    <input id="hid_sort" type="hidden" name="sort" value="" />
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="shopsp_cont">

                        <div class="right_table col-xs-12 table_list datatable_basic">

                            <table class="table m-b-none row1 selectAll-table status-box one-line" style="table-layout: fixed" id="report-spjhhzreport-lis">
                                <thead>
                                    <tr>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="40">序</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">门店</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="200">商品名称</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="70">单位</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">进货数量</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">进货金额</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">平均进价</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">退货数量</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">退货金额</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">总数量</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">总金额</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="124">商品条码</th>
                                        <th class="table-p-l-sm table-p-r-xsm-fixed" width="100">商品分类</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="font-bold">合计：</td>
                                        <td></td>
                                        <td class="sl_jh font-bold"></td>
                                        <td class="je_jh font-bold"></td>
                                        <td></td>
                                        <td class="sl_th font-bold"></td>
                                        <td class="je_th font-bold"></td>
                                        <td class="sl_total font-bold"></td>
                                        <td class="je_total font-bold"></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>

                            <div class="datatables_footer">&nbsp;</div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    app.report = app.report || {};
    app.report.spjhhzreport = app.report.spjhhzreport || {};
    if ('@digit["sl_digit"]' == null || '@digit["sl_digit"]' == '' || '@digit["sl_digit"]' == undefined) {
        app.report.spjhhzreport.digit = 2;
    } else {
        app.report.spjhhzreport.digit = "@digit["sl_digit"]"
    }
    app.report.spjhhzreport.report_idshop = "@report_idshop";
</script>
@*<script src="~/static/js/vue/vue.js"></script>
<script src="~/static/js/report/jquery.dataTables.js"></script>*@
<script src="~/static/js/report/spjhhzreport.js"></script>








