@{ 
    var digit = ViewData["DigitHashtable"] as System.Collections.Hashtable;//小数点控制
    var report_idshop = ViewData["loginInfo.id_shop"];
}
<input type="hidden" pagesize value="10" />
<input type="hidden" page value="1" />

<div class="col" id="spxsranklistreport">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="main-content">
                    <!--页头-->
                    <div class="row wrapper1 ">
                        <div class="col-xs-12 pull-right m-t">
                            <div class="row">
                                
                                <form class="filter-form" action="/report/spxsranklistreport">
                                    <div class="@*col-xs-10*@ pull-right  @*search_box*@">
                                        <div class="search-box-container">

                                            <div class="pull-left m-r-sm" style="margin-top: 7px">
                                                
                                                <div class="clear-padding f-l">
                                                    <div class="btn-group">
                                                        <input type="text" name="rq_begin" id="rq_begin" value="" class="btn btn-default btn-sm m-l-none text-left w-85"  readonly>
                                                        <button type="button" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-calendar" style="min-width: 7%;"></i></button>         
                                                        <input type="text" name="rq_end" id="rq_end" value="" class="btn btn-default btn-sm m-l-none text-left w-85" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-left m-r-sm" style="margin-top: 7px">
                                                
                                                <div class="clear-padding f-l" id="spxsranklistreportapi_idshop" style="width:115px;">
                                                    
                                                        <select id="id_shop" name="id_shop" class="form-control input-sm box-shawn user-input search-result" style="width: 115px;" v-model="selected">                                                            
                                                            <option v-for="option in getshop"  v-bind:value="option.id_shop">
                                                                {{ option.mc }}
                                                            </option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="pull-left m-r-sm" style="margin-top: 7px">
                                                
                                                <div class="clear-padding f-l">
                                                    <div class="1" style="position: relative;" id="shopfl_box">
                                                        <input type="text" value="" id="shopfl" class="form-control input-sm search-h inline v-middle search-result search" placeholder="选择商品分类" readonly="readonly" />
                                                        <input type="hidden" name="id_spfl" id="fldata" />
                                                        <span class="clear_button">
                                                            <i class="fa fa-times-circle"></i>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="pull-left m-r-sm" style="margin-top: 7px">                                                
                                                <div class="clear-padding f-l" id="spxsranklistreportapi_getuser" style="width:115px;">  
                                                    <select id="flag_lx" name="flag_lx" class="form-control input-sm box-shawn user-input search-result" style="width: 115px;" v-model="wayselect">
                                                        <option value="je_xs">销售额</option>
                                                        <option value="sl_xs">数量</option>
                                                        <option value="je_ml">毛利</option>
                                                    </select>  
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="pull-left m-r-sm" style="margin-top:7px">
                                                <div class="clear-padding f-l">
                                                    <input class="form-control user-input valid" style="width :150px;" maxlength="80" id="rankno" name="rankno" placeholder="排名" type="text" value="">
                                                </div>
                                            </div>
                                            
                                            <div class="pull-left m-r-sm m-b" style="margin-top: 7px">
                                                <span>
                                                    <button type="button"  id="btn-search" class="btn btn-info">
                                                        <i class="fa fa-search">查询</i>
                                                    </button>
                                                </span>
                                            </div>

                                        </div>
                                        @*<div class="m-b">&nbsp;</div>*@

                                    </div>

                                    <input id="hid_sort" type="hidden" name="sort" value="" />
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="shopsp_cont">
                    
                        <div class="right_table col-xs-12 table_list datatable_basic">
                            
                                <table class="table m-b-none row1 selectAll-table status-box one-line" style="table-layout: fixed" id="report-spxsranklistreport-lis">
                                    <thead>
                                        <tr>
                                            <th width="50" class="table-p-l-sm table-p-r-xsm-fixed">序</th>
                                            <th width="80" class="table-p-l-sm table-p-r-xsm-fixed">排名</th>
                                            <th width="70" class="table-p-l-sm table-p-r-xsm-fixed">商品名称</th>
                                            <th width="120" class="table-p-l-sm table-p-r-xsm-fixed">单位</th>
                                            <th width="120" class="table-p-l-sm table-p-r-xsm-fixed">销售数量</th>
                                            <th width="200" class="table-p-l-sm table-p-r-xsm-fixed">实际销售额</th>
                                            <th width="70" class="table-p-l-sm table-p-r-xsm-fixed">毛利</th>
                                            <th width="80" class="table-p-l-sm table-p-r-xsm-fixed">毛利率</th>
                                            <th width="120" class="table-p-l-sm table-p-r-xsm-fixed">商品条码</th>
                                            <th width="120" class="table-p-l-sm table-p-r-xsm-fixed">商品分类</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="font-bold">合计：</td>
                                            <td></td>
                                            <td class="sl_xs font-bold"></td>
                                            <td class="je_xs font-bold"></td>
                                            <td class="je_ml font-bold"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                        </tr>
                                    </tfoot>
                                </table>
                                
                            <div class="datatables_footer">&nbsp;</div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    app.report = app.report || {};
    app.report.spxsranklistreport = app.report.spxsranklistreport || {};
    if ('@digit["sl_digit"]' == null || '@digit["sl_digit"]' == '' || '@digit["sl_digit"]' == undefined) {
        app.report.spxsranklistreport.digit = 2;
    } else {
        app.report.spxsranklistreport.digit = "@digit["sl_digit"]"
    }
    app.report.spxsranklistreport.report_idshop = "@report_idshop";
</script>
@*<script src="~/static/js/vue/vue.js"></script>
<script src="~/static/js/report/jquery.dataTables.js"></script>*@
<script src="~/static/js/report/SpxsranklistReport.js"></script>

